#input{
    border: none;
    outline: none;
    width: 200px;
    color: yellowgreen;
    
}
input{
    width: 155px;

}
#totalTyped,#WPM, #accurecy{
    visibility: hidden;
    
    height: 33.3%;
    border: 1px solid black;

    display: flex;
    justify-content: center;    
    align-items: center;
    
}

/* #left{
    display: flex;
    justify-content: center;    
    align-items: center;
} */
.displayElements,.typedElements,#input{
    padding: 0.5%;
    font-size: xx-large;

}
#left, #right{
    width: 20%;
    border: 2px solid black;
}
#center{
    width: 60%;
}
#mainDiv{
    padding: 2%;
}
#complete{
    display: flex;
}
#displayPara,#inputField{
    padding: 4%;
    /* width: 800px; */
    height: 285px;
    border: 2px solid black;
    overflow: auto;
    text-align: justify;
}

#displayPara::-webkit-scrollbar,#inputField::-webkit-scrollbar {
    display: none;
}

h1{
    text-decoration: underline;
}